* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px, rgba(0, 0, 0, 0.22) 0px 5px 2px;
}

main{
  width: 100%;
  flex: 1;
  display: flex;
}

footer{
  width: 100%;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}